@mixin flexCenter($direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin theme($bg, $text) {
    background: $bg;
    color: $text;
}

@function weight($weight-name) {
    @return map-get($map: $font-weight, $key:$weight-name )
}

